@import 'styles/spectate';
@import 'styles/eye-lead-ellipsis';

header {
  .headline {
    margin-top: 0;
  }

  .pub-date {
    margin-bottom: 0;
  }
}

@media (max-height: 660px) {
  .cover-hed header {
    transform: translateY(-125%);
  }
}